.login {
    width:100vw;
    height:100vh;
    background-color: #f0f2f5;
    display:flex;
    align-items: center;
    justify-content: center;


}
.loginWrapper{
    width:70%;
    height:70%;
    display:flex;
    
}
.loginLeft,.loginRight {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.loginLogo {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
    
}
.logDesc {
    font-size: 24px;
}
.loginBox {
    height:300px;
    padding:20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.loginInput {
    height:50px;
    border-radius: 10px;
    border:1px solid gray;
    font-size: 18px;
    padding-left: 18px;


}
.loginInput:focus {
    outline:none;
}
.loginButton {
    height:50px;
    border-radius: 10px;
    border:none;
    color:white;
     font-size: 20px;
     font-weight: 500;
     cursor: pointer;

}
.loginRegisterButton {
    cursor:pointer;
    height:50px;
    border-radius: 10px;
    background-color: #42b72a;
    border:none;
    color:white;
     font-size: 20px;
     font-weight: 500;
     cursor: pointer;
     width:50%;
     align-self: center;
}
.loginForgot {
    text-align: center;
    
}