.topbarBox {
  height: 50px;
  width: 100%;
  /* background: linear-gradient(to bottom, #4B0082, #D5006D, #4B0082);*/
  background-color: #320a43;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}
.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}
.searchbar {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
}
.searchInput {
  border: none;
  width: 70%;
}
.searchInput:focus {
  outline: none;
  font-size: 14px;
  
}
.topbarIcons {
    display: flex;
}
.topbarlink{
    margin-right: 18px;
    cursor:pointer;
    font-size: 14px;
}
.topbarIconItem {
    margin-right: 15px;
    position :relative;
    cursor :pointer;
}
.topbarIconBadge{
    width:15px;
    height:15px;
    background-color:red;
    border-radius: 50%;
    color:white;
    position:absolute;
    top:-5px;
    right:-5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;

}
.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.topbarLeft {
  flex: 3;
}
.topbarCenter {
  flex: 5;
}
.topbarRight {
    display: flex;
  flex: 4;
  align-items: center;
  justify-content: space-around;
  color:white ;
}
.topbarImage {
    width:32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border-color: white;
}
