.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.37);
  margin: 30px 0px;
}


.postWrapper {
    padding:10px;

}
.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;  

}
.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImage {
    width:32px;
    height:32px;
    border-radius: 50%;
    object-fit: cover;
}
.postUserName {
    font-size: 15px;
    font-weight: 500;
    margin:  0 10px;

}
.postDate {
    font-size: 12px;
}
.postImage {
    margin-top: 20px;
    width:100%;
    max-height: 500px;
    object-fit: contain;
}
 .postIcon {
    width:25px;
    height:25px;
    margin-right: 5px;
    cursor:pointer;
 }
 .postIconLike {
    width:24px;
    height:24px;
    margin-right: 5px;
    cursor:pointer;
 }

 .postCenter {

    margin: 20px 0;
 }
 .postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .postBottomLeft {
    display: flex;
    align-items: center;

 }
 
 .postlikeNumber {

    font-size: 15px;
 }
 .postCommentText{
    
cursor: pointer;
border-bottom: 1px dashed gray;
font-size: 15px;

 }